.videoCard {
  width: 395px;
  text-decoration: none;
  color: #fff;
  font-family: Arial, sans-serif;
  display: block;
  background-color: var(--color-gray-900);
  border-radius: 15px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.thumbnailWrapper {
  width: 100%;
  height: 195px;
  overflow: hidden;
  border-radius: 12px;
  background: #eee;
}

.thumbnailWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.videoCard:hover img {
  transform: scale(1.05);
}

.videoInfo {
  padding: 15px 20px;
  transition: transform 0.3s ease;
}

.videoCard:hover {
  background-color: var(--color-gray-950);
  cursor: pointer;
  transform: scale(1.01);
}
.videoTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0;
  line-height: 1.3;
}

.videoCategory {
  font-size: 13px;
  color: #b6b4b4;
  margin-bottom: 6px;
}

.videoDesc {
  font-size: 13px;
  color: #6d6d6d;
}

.more {
  color: var(--color-amber-400);
  margin-left: 4px;
  font-weight: 500;
}
