.layout {
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 0 20px;
  color: #eaeaea;
  font-family: "Georgia", serif;
}

.recipePage {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px 40px;
  font-family: "Georgia", serif;
  color: #eaeaea;
  background-color: #121212;
}

.header {
  margin-bottom: 20px;
}

.title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}

.meta {
  color: #aaa;
  margin-top: 8px;
  font-size: 14px;
}

.imageWrapper {
  margin: 30px 0;
  border-radius: 16px;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.section {
  margin-bottom: 40px;
}

.sectionTitle {
  font-size: 24px;
  margin-bottom: 14px;
  border-left: 4px solid #ff9800;
  padding-left: 12px;
}

.description {
  font-size: 18px;
  line-height: 1.7;
  color: #ccc;
}

.ingredients li,
.instructions li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.ingredients {
  list-style: square;
  padding-left: 20px;
}

.instructions {
  padding-left: 20px;
}

.nutrition {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 15px;
  color: #ffcc80;
}

.tags {
  margin-top: 30px;
}

.tag {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 6px 12px;
  background-color: #1e1e1e;
  border-radius: 20px;
  font-size: 16px;
  color: #90caf9;
}

.loading {
  text-align: center;
  font-size: 32px;
  margin-top: 50px;
}


/* ===== SIDEBAR FORM ===== */
.sidebar {
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 16px;
  height: fit-content;
  position: sticky;
  top: 30px;
}

.formTitle {
  font-size: 22px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form input,
.form textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 14px;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #aaa;
}

.form button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #ff9800;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.form button:hover {
  background-color: #ffa726;
}

.form .deleteButton{
  background-color: #ed2113;
}

.form .deleteButton:hover{
  background-color: #f44336;
}

.loading {
  text-align: center;
  font-size: 32px;
  margin-top: 60px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
